@using CCPDemo.Authorization
@using CCPDemo.Web.Areas.App.Models.KeyRiskIndicators
@using CCPDemo.Web.Areas.App.Models.UploadKeyRiskIndicators;
@using CCPDemo.Web.Areas.App.Startup
@model UploadKeyRiskIndicator
@{
   // ViewBag.CurrentPageName = AppPageNames.Common.KeyRiskIndicators;
}

@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Common/_KeyValueListManager.css" asp-append-version="true" />
    }

<div class="content d-flex flex-column flex-column-fluid">

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <form id="SettingsLogoUploadFormKRI" asp-controller="KeyRiskIndicators" asp-action="ReadCSV" enctype="multipart/form-data" method="post">


                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="KeyRiskIndicator" required>
@*                                    <label class="custom-file-label form-label" id="KeyRiskIndicator" for="KeyRiskIndicator">@L("ChooseAFile")</label><br />
*@                                    <span class="form-text text-muted col-lg-12">@L("UploadCSV_Info")</span>

                                   <select class="form-select mt-5" name="OrganizationUnit" aria-label="Default select example" required>
                                     <option selected disabled>-- Select Depaartment --</option>
                                     @foreach (var obj in Model.OrganizationUnits)
                                        {
                                          <option value="@obj.Id">@obj.DisplayName</option>
                                        }
                                    </select>
                                </div>
                                
                            </div>

                            <button class="btn btn-primary" type="submit">@L("Upload")</button>&nbsp;
                            <button class="btn btn-secondary" type="reset">@L("Clear")</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
@*@section scripts {

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {

        $.ajax({
                type: "Get",
                url: `UploadKeyRiskIndicator/GetAllOrganisationUnit`,
                //traditional: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (recData) {
                    console.log(recData);

                    if (recData.result.length > 0)
                    {
                      recData.result.forEach((item, index) => {
                            
                        })
                    }


                },
                error: function () {console.log(recData); }
            });
  });

      
</script>
 }*@
 