
@using System.Globalization
@using CCPDemo.Web.Areas.App.Models.Common.Modals
@using CCPDemo.Web.Areas.App.Models.VRisks
@model CreateOrEditVRiskModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Downgrade Risk"))

@{
    var readWrite = IsGranted(CCPDemo.Authorization.AppPermissions.Pages_VRisks_Create) ? "" : "readonly";
    var riskMitigatorOnlyWrite = IsGranted(CCPDemo.Authorization.AppPermissions.Pages_VRisks_Create) ? "readonly" : "";
    var tv = !IsGranted(CCPDemo.Authorization.AppPermissions.Pages_VRisks_Create);
}

<div class="modal-body">
    <div id="VRiskInformationsTab">
        <form name="VRiskInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.VRisk.Id" />
            }

            <div class="my-3">
                <label class="form-label" for="VRisk_Name">@L("Name")</label>
                <input class="form-control form-control-solid" id="VRisk_Name" value="@Model.VRisk.Name" type="text" name="name" readonly />
            </div>

            <div class="my-3">
                <label class="form-label" for="VRisk_Description">@L("Description")</label>
                @*<input class="form-control" id="VRisk_Description" value="@Model.VRisk.Description" type="text" name="description" />*@
                <textarea id="VRisk_Description" rows="5" name="description" class="form-control form-control-solid" maxlength="256" readonly>@Model.VRisk.Description</textarea>
            </div>



            <div class="my-3">
                <label class="form-label" for="VRisk_Status">@L("Status")</label>
                @*<input class="form-control form-control-solid" id="VRisk_Status" value="@Model.VRisk.Status" type="text" name="status" />*@
                <select id="VRisk_Status" name="status" class="form-control" @readWrite>
                   
                    @{
                        var selectStatus = Model.VRisk.Status;
                        var statusValue = "0";
                        if (!selectStatus.IsNullOrEmpty())
                        {
                            statusValue = selectStatus;
                        }
                        else
                        {
                            selectStatus = "Select Status";
                        }

                    }
                    <option value="@statusValue">
                        @selectStatus
                    </option>
                    <option value="New/Open" selected>New/Open</option>
                    <option value="Mitigation Planned">Mitigation Planned</option>
                    <option value="Management Review">Management Reviewed</option>
                    <option value="Closed">Closed</option>
                    <option value="Reopened">Reopned</option>
                    <option value="Untreated">Untreated</option>
                    <option value="Treated">Treated</option>
                </select>
            </div>

            <div class="my-3">
                <label class="form-label" for="VRisk_Department">@L("Rating")</label>
                @*<input class="form-control form-control-solid" id="VRisk_Department" value="@Model.VRisk.Department" type="text" name="department" />*@
                <select id="VRisk_Rating" name="rating" class="form-control" @readWrite>

                    @{
                        var selectRating = Model.VRisk.Rating ?? "Select Rating";

                    }
                    <option value="0">
                        @selectRating
                    </option>
                    <option value="Critical">Critical</option>
                    <option value="Highn">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </div>

            <div class="my-3">
                <label class="form-label" for="VRisk_ActualClosureDate">Actual Closure Date</label>
                <input class="form-control form-control-solid" id="VRisk_ActualClosureDate" value="@Model.VRisk.ActualClosureDate" type="text" name="actualClosureDate" @readWrite />
            </div>

        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-bs-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
</div>


@section Scripts
{
    <script>
        $.noConflict;
        var $ = jQuery;

        $(function () {

        });
    </script>
}