@using CCPDemo.Authorization
@using CCPDemo.Web.Areas.App.Models.VRisks
@using CCPDemo.Web.Areas.App.Startup
@model VRisksViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.VRisks;
}

@section Styles {
    <link href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
}


<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("VRisks")' description='@L("VRisksHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_VRisks_Create))
        {
            
            <button id="CreateNewVRiskButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewVRisk")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="VRisksTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetVRisksButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="NameFilterId">@L("Name")</label>
                            <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="DescriptionFilterId">@L("Description")</label>
                            <input type="text" class="form-control" name="descriptionFilter" id="DescriptionFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="DepartmentFilterId">@L("Department")</label>
                            <input type="text" class="form-control" name="departmentFilter" id="DepartmentFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="RiskOwnerFilterId">@L("RiskOwner")</label>
                            <input type="text" class="form-control" name="riskOwnerFilter" id="RiskOwnerFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="ResolutionTimeLineFilterId">@L("ResolutionTimeLine")</label>
                            <input type="text" class="form-control" name="resolutionTimeLineFilter" id="ResolutionTimeLineFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="ERMCommentFilterId">@L("ERMComment")</label>
                            <input type="text" class="form-control" name="ermCommentFilter" id="ERMCommentFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="RiskOwnerCommentFilterId">@L("RiskOwnerComment")</label>
                            <input type="text" class="form-control" name="riskOwnerCommentFilter" id="RiskOwnerCommentFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="StatusFilterId">@L("Status")</label>
                            <input type="text" class="form-control" name="statusFilter" id="StatusFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="ActualClosureDateFilterId">@L("ActualClosureDate")</label>
                            <input type="text" class="form-control" name="actualClosureDateFilter" id="ActualClosureDateFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MitigationDateFilterId">@L("MitigationDate")</label>
                            <input type="text" class="form-control" name="mitigationDateFilter" id="MitigationDateFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="AcceptRiskFilterId">@L("AcceptRisk")</label>
                        <select class="form-control" name="AcceptRiskFilter" id="AcceptRiskFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="AcceptanceDateFilterId">@L("AcceptanceDate")</label>
                            <input type="text" class="form-control" name="acceptanceDateFilter" id="AcceptanceDateFilterId">
                        </div>
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                @*<h1>User Id: @AbpSession.UserId</h1>*@


                <div class="row align-items-center">
                    <div class="table-responsive">
                        <table id="VRisksTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                            <thead>
                                <tr class="fw-bold text-muted bg-light">
                                    <th></th>

                                    <th>@L("Actions")</th>
                                    <th>@L("Name")</th>
                                    <th>@L("Description")</th>
                                    <th>@L("Department")</th>
                                    <th>Risk Owner</th>
                                    <th>Resolution Timeline</th>
                                    <th>ERM Comment</th>
                                    <th>Risk Owner's Comment</th>
                                    <th>@L("Status")</th>
                                    <th>@L("Rating")</th>
                                    <th>Actual Closure Date</th>
                                    <th>Mitigation Date</th>
                                    <th>Risk Accepted?</th>
                                    <th>Acceptance Date</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="table-responsive">
                        <table id="VRisksTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                            <thead>
                                <tr class="fw-bold text-muted bg-light">
                                    <th></th>

                                    <th>@L("Actions")</th>
                                    <th>@L("Name")</th>
                                    <th>@L("Description")</th>
                                    <th>@L("Department")</th>
                                    <th>Risk Owner</th>
                                    <th>Resolution Timeline</th>
                                    <th>ERM Comment</th>
                                    <th>Risk Owner's Comment'</th>
                                    <th>@L("Status")</th>
                                    <th>@L("Rating")</th>
                                    <th>Actual Closure Date</th>
                                    <th>Mitigation Date</th>
                                    <th>Risk Accepted?</th>
                                    <th>Acceptance Date</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <script>
        $.noConflict;
        var $ = jQuery;

        $(function () {

            var _$vRisksTable = $('#VRisksTable');
            var _vRisksService = abp.services.app.vRisks;


            //$('.date-picker').datetimepicker({
            //  locale: abp.localization.currentLanguage.name,
            //  format: 'L',
            //});

            var _permissions = {
                create: abp.auth.hasPermission('Pages.VRisks.Create'),
                edit: abp.auth.hasPermission('Pages.VRisks.Edit'),
                delete: abp.auth.hasPermission('Pages.VRisks.Delete'),
            };

            var _createOrEditModal = new app.ModalManager({
                viewUrl: abp.appPath + 'App/VRisks/CreateOrEditModal',
                scriptUrl: abp.appPath + 'view-resources/Areas/App/Views/VRisks/_CreateOrEditModal.js',
                modalClass: 'CreateOrEditVRiskModal',
            });

            var _ermTransferRiskModal = new app.ModalManager({
                viewUrl: abp.appPath + 'App/VRisks/ErmTransferRiskModal',
                scriptUrl: abp.appPath + 'view-resources/Areas/App/Views/VRisks/_ErmTransferRiskModal.js',
                modalClass: 'ErmTransferRiskModal',
            });

            var _ermUpDownRiskModal = new app.ModalManager({
                viewUrl: abp.appPath + 'App/VRisks/ErmUpDownRiskModal',
                modalClass: 'ErmUpDownRiskModal',
            });

            var _ermCloseRiskModal = new app.ModalManager({
                viewUrl: abp.appPath + 'App/VRisks/ErmCloseRiskModal',
                modalClass: 'ErmCloseRiskModal',
            });

            var _viewVRiskModal = new app.ModalManager({
                viewUrl: abp.appPath + 'App/VRisks/ViewvRiskModal',
                modalClass: 'ViewVRiskModal',
            });

            var getDateFilter = function (element) {
                if (element.data('DateTimePicker').date() == null) {
                    return null;
                }
                return element.data('DateTimePicker').date().format('YYYY-MM-DDT00:00:00Z');
            };

            var getMaxDateFilter = function (element) {
                if (element.data('DateTimePicker').date() == null) {
                    return null;
                }
                return element.data('DateTimePicker').date().format('YYYY-MM-DDT23:59:59Z');
            };

            var dataTable = _$vRisksTable.DataTable({
                paging: true,
                serverSide: true,
                processing: true,
                scrollX: true,
                responsive: true,
                listAction: {
                    ajaxFunction: _vRisksService.getAll,
                    inputFilter: function () {
                        return {
                            filter: $('#VRisksTableFilter').val(),
                            nameFilter: $('#NameFilterId').val(),
                            descriptionFilter: $('#DescriptionFilterId').val(),
                            departmentFilter: $('#DepartmentFilterId').val(),
                            riskOwnerFilter: $('#RiskOwnerFilterId').val(),
                            resolutionTimeLineFilter: $('#ResolutionTimeLineFilterId').val(),
                            eRMCommentFilter: $('#ERMCommentFilterId').val(),
                            riskOwnerCommentFilter: $('#RiskOwnerCommentFilterId').val(),
                            statusFilter: $('#StatusFilterId').val(),
                            actualClosureDateFilter: $('#ActualClosureDateFilterId').val(),
                            mitigationDateFilter: $('#MitigationDateFilterId').val(),
                            acceptRiskFilter: $('#AcceptRiskFilterId').val(),
                            acceptanceDateFilter: $('#AcceptanceDateFilterId').val(),
                        };
                    },
                },
                columnDefs: [
                    {
                        className: 'control responsive',
                        orderable: false,
                        render: function () {
                            return '';
                        },
                        targets: 0,
                    },
                    {
                        width: 120,
                        targets: 1,
                        data: null,
                        orderable: false,
                        autoWidth: false,
                        defaultContent: '',
                        rowAction: {
                            cssClass: 'btn btn-brand dropdown-toggle',
                            text: '<i class="fa fa-cog"></i> ' + app.localize('Actions') + ' <span class="caret"></span>',
                            items: [
                                {
                                    text: app.localize('View'),
                                    iconStyle: 'far fa-eye ml-2 mr-2',
                                    action: function (data) {
                                        _viewVRiskModal.open({ id: data.record.vRisk.id });
                                    },
                                },
                                {
                                    text: app.localize('Edit'),
                                    iconStyle: 'far fa-edit ml-2 mr-2',
                                    visible: function () {
                                        return _permissions.edit;
                                    },
                                    action: function (data) {
                                        _createOrEditModal.open({ id: data.record.vRisk.id });
                                    },
                                },
                                {
                                    text: 'Transfer Risk',
                                    iconStyle: 'far fa-paper-plane ml-2 mr-2',
                                    visible: function () {
                                        return _permissions.create;
                                    },
                                    action: function (data) {
                                        _ermTransferRiskModal.open({ id: data.record.vRisk.id });
                                    },
                                },
                                {
                                    text: 'Downgrade/Upgrade Risk',
                                    iconStyle: 'fas fa-arrows-alt-v ml-2 mr-2',
                                    visible: function () {
                                        return _permissions.create;
                                    },
                                    action: function (data) {
                                        _ermUpDownRiskModal.open({ id: data.record.vRisk.id });
                                    },
                                },
                                {
                                    text: 'Close Risk',
                                    iconStyle: 'fas fa-power-off ml-2 mr-2',
                                    visible: function () {
                                        return _permissions.create;
                                    },
                                    action: function (data) {
                                        _ermCloseRiskModal.open({ id: data.record.vRisk.id });
                                    },
                                },
                                
                                {
                                    text: app.localize('Delete'),
                                    iconStyle: 'far fa-trash-alt my-2 mr-2',
                                    visible: function () {
                                        return _permissions.delete;
                                    },
                                    action: function (data) {
                                        deleteVRisk(data.record.vRisk);
                                    },
                                },
                            ],
                        },
                    },
                    {
                        targets: 2,
                        data: 'vRisk.name',
                        name: 'name',
                    },
                    {
                        targets: 3,
                        data: 'vRisk.description',
                        name: 'description',
                    },
                    {
                        targets: 4,
                        data: 'vRisk.department',
                        name: 'department',
                    },
                    {
                        targets: 5,
                        data: 'vRisk.riskOwner',
                        name: 'riskOwner',
                    },
                    {
                        targets: 6,
                        data: 'vRisk.resolutionTimeLine',
                        name: 'resolutionTimeLine',
                    },
                    {
                        targets: 7,
                        data: 'vRisk.ermComment',
                        name: 'ermComment',
                    },
                    {
                        targets: 8,
                        data: 'vRisk.riskOwnerComment',
                        name: 'riskOwnerComment',
                    },
                    {
                        targets: 9,
                        data: 'vRisk.status',
                        name: 'status',
                    },
                    {
                        targets: 10,
                        data: 'vRisk.rating',
                        name: 'rating',
                    },
                    {
                        targets: 11,
                        data: 'vRisk.actualClosureDate',
                        name: 'actualClosureDate',
                    },
                    {
                        targets: 12,
                        data: 'vRisk.mitigationDate',
                        name: 'mitigationDate',
                    },
                    {
                        targets: 13,
                        data: 'vRisk.acceptRisk',
                        name: 'acceptRisk',
                        render: function (acceptRisk) {
                            if (acceptRisk) {
                                return '<div class="text-center"><i class="fa fa-check text-success" title="True"></i></div>';
                            }
                            return '<div class="text-center"><i class="fa fa-times-circle" title="False"></i></div>';
                        },
                    },
                    {
                        targets: 14,
                        data: 'vRisk.acceptanceDate',
                        name: 'acceptanceDate',
                    },
                ],
            });

            function getVRisks() {
                dataTable.ajax.reload();
            }

            function deleteVRisk(vRisk) {
                abp.message.confirm('', app.localize('AreYouSure'), function (isConfirmed) {
                    if (isConfirmed) {
                        _vRisksService
                            .delete({
                                id: vRisk.id,
                            })
                            .done(function () {
                                getVRisks(true);
                                abp.notify.success(app.localize('SuccessfullyDeleted'));
                            });
                    }
                });
            }

            $('#ShowAdvancedFiltersSpan').click(function () {
                $('#ShowAdvancedFiltersSpan').hide();
                $('#HideAdvancedFiltersSpan').show();
                $('#AdvacedAuditFiltersArea').slideDown();
            });

            $('#HideAdvancedFiltersSpan').click(function () {
                $('#HideAdvancedFiltersSpan').hide();
                $('#ShowAdvancedFiltersSpan').show();
                $('#AdvacedAuditFiltersArea').slideUp();
            });

            $('#CreateNewVRiskButton').click(function () {

                _createOrEditModal.open();
            });

            $('#ExportToExcelButton').click(function () {
                _vRisksService
                    .getVRisksToExcel({
                        filter: $('#VRisksTableFilter').val(),
                        nameFilter: $('#NameFilterId').val(),
                        descriptionFilter: $('#DescriptionFilterId').val(),
                        departmentFilter: $('#DepartmentFilterId').val(),
                        riskOwnerFilter: $('#RiskOwnerFilterId').val(),
                        resolutionTimeLineFilter: $('#ResolutionTimeLineFilterId').val(),
                        eRMCommentFilter: $('#ERMCommentFilterId').val(),
                        riskOwnerCommentFilter: $('#RiskOwnerCommentFilterId').val(),
                        statusFilter: $('#StatusFilterId').val(),
                        actualClosureDateFilter: $('#ActualClosureDateFilterId').val(),
                        mitigationDateFilter: $('#MitigationDateFilterId').val(),
                        acceptRiskFilter: $('#AcceptRiskFilterId').val(),
                        acceptanceDateFilter: $('#AcceptanceDateFilterId').val(),
                    })
                    .done(function (result) {
                        app.downloadTempFile(result);
                    });
            });

            abp.event.on('app.createOrEditVRiskModalSaved', function () {
                getVRisks();
            });

            $('#GetVRisksButton').click(function (e) {
                e.preventDefault();
                getVRisks();
            });

            $(document).keypress(function (e) {
                if (e.which === 13) {
                    getVRisks();
                }
            });

        });
    </script>
}