@using CCPDemo.Authorization
@using CCPDemo.Web.Areas.App.Models.UsersLookups
@using CCPDemo.Web.Areas.App.Startup
@using CCPDemo.Web.Areas.App.Models.Common.Modals
@model UsersLookupUserLookupTableViewModel

@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/UsersLookups/_UsersLookupUserLookupTableModal.js" asp-append-version="true"></script>
}

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("PickUser")))

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="UserTableFilter" class="form-control m-input" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetUserButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="UserTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
                            <th>@L("Name")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")