@using CCPDemo.Authorization
@using CCPDemo.Web.Areas.App.Models.ManagementReviews
@using CCPDemo.Web.Areas.App.Startup
@model ManagementReviewsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.ManagementReviews;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/ManagementReviews/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("ManagementReviews")' description='@L("ManagementReviewsHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_Administration_ManagementReviews_Create))
        {
        <button id="CreateNewManagementReviewButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewManagementReview")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="ManagementReviewsTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetManagementReviewsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">

                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="Minrisk_idFilterId">@L("MinMax") @L("risk_id")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minrisk_idFilter" id="Minrisk_idFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxrisk_idFilter" id="Maxrisk_idFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="Minsubmission_dateFilterId">@L("submission_dateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="Minsubmission_dateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="Maxsubmission_dateFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinreviewFilterId">@L("MinMax") @L("review")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minreviewFilter" id="MinreviewFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxreviewFilter" id="MaxreviewFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinreviewerFilterId">@L("MinMax") @L("reviewer")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minreviewerFilter" id="MinreviewerFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxreviewerFilter" id="MaxreviewerFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="Minnext_stepFilterId">@L("MinMax") @L("next_step")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minnext_stepFilter" id="Minnext_stepFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxnext_stepFilter" id="Maxnext_stepFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="commentsFilterId">@L("comments")</label>
                            <input type="text" class="form-control" name="commentsFilter" id="commentsFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="Minnext_reviewFilterId">@L("next_reviewRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="Minnext_reviewFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="Maxnext_reviewFilterId">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ManagementReviewsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("risk_id")</th>
                                <th>@L("submission_date")</th>
                                <th>@L("review")</th>
                                <th>@L("reviewer")</th>
                                <th>@L("next_step")</th>
                                <th>@L("comments")</th>
                                <th>@L("next_review")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>