
@using CCPDemo.Web.Areas.App.Models.Common.Modals
@using CCPDemo.Web.Areas.App.Models.Risks
@model RiskViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RiskInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Summary") :</h6>
                @Model.Risk.Summary
            </div>
            <div class="col-6 mb-3">
                <h6>Existing Control :</h6>
                @Model.Risk.ExistingControl
            </div>
            <div class="col-6 mb-3">
                <h6>ERM Recommendation :</h6>
                @Model.Risk.ERMRecommendation
            </div>
            <div class="col-6 mb-3">
                <h6>Action Plan :</h6>
                @Model.Risk.ActionPlan
            </div>
            <div class="col-6 mb-3">
                <h6>Risk Owner's Comment' :</h6>
                @Model.Risk.RiskOwnerComment
            </div>
            @if (!Model.isERM)
            {
                <div class="col-6 mb-3">
                    <h6>Target Date :</h6>
                    @Model.Risk.TargetDate
                </div>
                <div class="col-6 mb-3">
                    <h6>Actual Closure Date :</h6>
                    @Model.Risk.ActualClosureDate
                </div>
                <div class="col-6 mb-3">
                    <h6>Acceptance Date :</h6>
                    @Model.Risk.AcceptanceDate
                </div>
                <div class="col-6 mb-3">
                    <h6>Risk Accepted? :</h6>
                    @{
                        var riskAccepted = Model.Risk.RiskAccepted ? "<i class='far flaticon2-check-mark'></i>" : "";
                    }

                    @Html.Raw(@riskAccepted)

                </div>
            }

            <div class="col-6 mb-3">
                <h6>Risk Type :</h6>
                @Model.RiskTypeName
            </div>
            <div class="col-6 mb-3">
                <h6>Department/Unit :</h6>
                @Model.OrganizationUnitDisplayName
            </div>
            <div class="col-6 mb-3">
                <h6>Status :</h6>
                @Model.StatusName
            </div>
            <div class="col-6 mb-3">
                <h6>Rating :</h6>
                @Model.RiskRatingName
            </div>
            <div class="col-6 mb-3">
                <h6>Risk Owner :</h6>
                @Model.UserName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")