
@using System.Globalization
@using CCPDemo.Authorization
@using CCPDemo.Web.Areas.App.Models.Risks
@using CCPDemo.Web.Areas.App.Startup
@model CreateOrEditRiskModalViewModel
@using CCPDemo.Web.TagHelpers
@{
ViewBag.CurrentPageName = AppPageNames.Common.Risks;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/Risks/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    @{
    var breadcrumbs = new List<BreadcrumbItem>()
        {
        new BreadcrumbItem("/App/Risks", L("Risks")),
        new BreadcrumbItem(Model.IsEditMode ? L("Edit") : L("Create"))
        };
        }
        <abp-page-subheader title='@(Model.IsEditMode ? (L("EditRisk")) : L("CreateNewRisk"))' breadcrumbs="breadcrumbs">
        </abp-page-subheader>

        <div class="@(await GetContainerClass())">
            <div class="card card-custom gutter-b">
                <form name="RiskInformationsForm" role="form" novalidate class="form-validation">
                    <div class="card-body">
                        <div class="form">
                            <div id="RiskInformationsTab">
                                @if (Model.IsEditMode)
                                {
                                <input type="hidden" name="id" value="@Model.Risk.Id" />
                                }

                                <div class="my-3">
                                    <label class="form-label" for="Risk_RiskTypeId">@L("RiskTypeId")</label>
                                    <input class="form-control m-input" id="Risk_RiskTypeId" value="@Model.Risk.RiskType.ToString(CultureInfo.InvariantCulture)" type="number" name="riskTypeId" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_RiskSummary">@L("RiskSummary")</label>
                                    <input class="form-control" id="Risk_RiskSummary" value="@Model.Risk.RiskSummary" type="text" name="riskSummary" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_Department">@L("Department")</label>
                                    <input class="form-control" id="Risk_Department" value="@Model.Risk.Department" type="text" name="department" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_RiskOwner">@L("RiskOwner")</label>
                                    <input class="form-control" id="Risk_RiskOwner" value="@Model.Risk.RiskOwner" type="text" name="riskOwner" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_ExistingControl">@L("ExistingControl")</label>
                                    <input class="form-control" id="Risk_ExistingControl" value="@Model.Risk.ExistingControl" type="text" name="existingControl" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_ERMComment">@L("ERMComment")</label>
                                    <input class="form-control" id="Risk_ERMComment" value="@Model.Risk.ERMComment" type="text" name="ermComment" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_ActionPlan">@L("ActionPlan")</label>
                                    <input class="form-control" id="Risk_ActionPlan" value="@Model.Risk.ActionPlan" type="text" name="actionPlan" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_RiskOwnerComment">@L("RiskOwnerComment")</label>
                                    <input class="form-control" id="Risk_RiskOwnerComment" value="@Model.Risk.RiskOwnerComment" type="text" name="riskOwnerComment" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_Status">@L("Status")</label>
                                    <input class="form-control" id="Risk_Status" value="@Model.Risk.Status" type="text" name="status" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_Rating">@L("Rating")</label>
                                    <input class="form-control" id="Risk_Rating" value="@Model.Risk.Rating" type="text" name="rating" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_TargetDate">@L("TargetDate")</label>
                                    <input class="form-control" id="Risk_TargetDate" value="@Model.Risk.TargetDate" type="text" name="targetDate" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_ActualClosureDate">@L("ActualClosureDate")</label>
                                    <input class="form-control" id="Risk_ActualClosureDate" value="@Model.Risk.ActualClosureDate" type="text" name="actualClosureDate" />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Risk_AcceptanceDate">@L("AcceptanceDate")</label>
                                    <input class="form-control" id="Risk_AcceptanceDate" value="@Model.Risk.AcceptanceDate" type="text" name="acceptanceDate" />
                                </div>

                                <label class="form-check form-check-custom">
                                    <input id="Risk_RiskAccepted" name="riskAccepted" type="checkbox" class="form-check-input" @Html.Raw(Model.Risk.RiskAccepted ?"checked=\"checked\"":"") />
                                    <span class="form-check-label">
                                        @L("RiskAccepted")
                                    </span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Save")</button>
                                @if (!Model.IsEditMode)
                                {
                                <button type="button" id="saveAndNewBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("SaveAndNew")</button>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>