@using CCPDemo.Authorization
@using CCPDemo.Web.Areas.App.Models.Risks
@using CCPDemo.Web.Areas.App.Startup
@model RisksViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Risks;
}
@section Scripts
{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.js" integrity="sha512-L7jgg7T9UbYc7hXogUKssqe1B5MsgrcviNxsRbO53dDSiw/JxuA/4kVQvEORmZJ6Re3fVF3byN5TT7czo9Rdug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    
<!-- Tempus Dominus JavaScript -->
<script src="~/Common/Scripts/Dominus/tempus-dominus.min.js"></script>
<script src="" ></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <script src="/view-resources/Areas/App/Views/Risks/Index.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Common/Scripts/Dominus/tempus-dominus.min.css" />
    
     <link href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

     <style>
         input:focus, textarea:focus, select:focus{
        outline: none;
    }
     </style>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("Risks")' description='@L("RisksHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_Risks_Create))
        {
        <button id="CreateNewRiskButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> Raise New Risk</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="RisksTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetRisksButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                @*
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">

                </div>

                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="SummaryFilterId">@L("Summary")</label>
                <input type="text" class="form-control" name="summaryFilter" id="SummaryFilterId">
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="ExistingControlFilterId">@L("ExistingControl")</label>
                <input type="text" class="form-control" name="existingControlFilter" id="ExistingControlFilterId">
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="ERMRecommendationFilterId">@L("ERMRecommendation")</label>
                <input type="text" class="form-control" name="ermRecommendationFilter" id="ERMRecommendationFilterId">
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="ActionPlanFilterId">@L("ActionPlan")</label>
                <input type="text" class="form-control" name="actionPlanFilter" id="ActionPlanFilterId">
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="RiskOwnerCommentFilterId">@L("RiskOwnerComment")</label>
                <input type="text" class="form-control" name="riskOwnerCommentFilter" id="RiskOwnerCommentFilterId">
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="MinTargetDateFilterId">@L("TargetDateRange")</label>
                <div class="input-group">
                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinTargetDateFilterId">
                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxTargetDateFilterId">
                </div>
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="MinActualClosureDateFilterId">@L("ActualClosureDateRange")</label>
                <div class="input-group">
                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinActualClosureDateFilterId">
                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxActualClosureDateFilterId">
                </div>
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="MinAcceptanceDateFilterId">@L("AcceptanceDateRange")</label>
                <div class="input-group">
                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinAcceptanceDateFilterId">
                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxAcceptanceDateFilterId">
                </div>
                </div>
                </div>
                <div class="col-md-3">
                <label class="form-label" for="RiskAcceptedFilterId">@L("RiskAccepted")</label>
                <select class="form-control" name="RiskAcceptedFilter" id="RiskAcceptedFilterId">
                <option value="-1">@L("All")</option>
                <option value="0">@L("False")</option>
                <option value="1">@L("True")</option>
                </select>
                </div>

                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="RiskTypeNameFilterId">(@L("RiskType")) @L("Name")</label>
                <input type="text" class="form-control" name="riskTypeNameFilter" id="RiskTypeNameFilterId">
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="OrganizationUnitDisplayNameFilterId">(@L("OrganizationUnit")) @L("DisplayName")</label>
                <input type="text" class="form-control" name="organizationUnitDisplayNameFilter" id="OrganizationUnitDisplayNameFilterId">
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="StatusNameFilterId">(@L("Status")) @L("Name")</label>
                <input type="text" class="form-control" name="statusNameFilter" id="StatusNameFilterId">
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="RiskRatingNameFilterId">(@L("RiskRating")) @L("Name")</label>
                <input type="text" class="form-control" name="riskRatingNameFilter" id="RiskRatingNameFilterId">
                </div>
                </div>
                <div class="col-md-3">
                <div class="my-3">
                <label class="form-label" for="UserNameFilterId">(@L("User")) @L("Name")</label>
                <input type="text" class="form-control" name="userNameFilter" id="UserNameFilterId">
                </div>
                </div>
                </div>
                <div class="row my-4">
                <div class="col-xl-12">
                <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
                </div>
                *@
                <div class="row align-items-center">
                    <table id="RisksTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("Summary")</th>
                                <th>Existing Control</th>
                                <th>ERM Recomendation</th>
                                <th>Action Plan</th>
                                <th>Risk Owner's Comment</th>
                                <th>Target Date</th>
                                <th>Actual Closure Date</th>
                                <th>Acceptance Date</th>
                                <th>Risk Accepted?</th>
                                <th>Risk Type</th>
                                <th>Department/Unit</th>
                                <th>Status</th>
                                <th>Rating</th>
                                <th>Risk Owner</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>