@using CCPDemo.Authorization
@using CCPDemo.Web.Areas.App.Models.Risks
@using CCPDemo.Web.Areas.App.Startup
@model RisksViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Risks;
}
@section Scripts
    {
    

   
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <script src="/view-resources/Areas/App/Views/Reports//FilteredRisks.js" asp-append-version="true"></script>

}

@section Styles {

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
    <link href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css" />
    

    <style>
        
    </style>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title='Risk by Rating, Category & Department Report' description='@L("RisksHeaderInfo")'>
        
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card">
            <div class="card-body">
                <div class="form">
                    
                    <div id="AdvacedAuditFiltersArea" class="row mb-4">
                        
                        <div class="col-xl-4">
                            <div class="mb-5">
                                @Html.DropDownList("riskTypeName", new SelectList(Model.RiskTypeList,"Id","DisplayName", ""),"Filter By Risk Type", new { @class = "form-control" , id = "RiskTypeNameFilterId"})
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-5">
                                @Html.DropDownList("riskRatingName", new SelectList(Model.RiskRatingList,"Id","DisplayName", ""),"Filter By Rating", new { @class = "form-control" , id = "RiskRatingNameFilterId"})
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-5">
                                @Html.DropDownList("organizationUnitDisplayName", new SelectList(Model.RiskOrganizationUnitList,"Id","DisplayName", ""),"Filter By Organization Unit", new { @class = "form-control" , id = "OrganizationUnitDisplayNameFilterId"})
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="align-items-center">
                    <div class="table-responsive">
                        <table id="RisksTable1" class="table align-middle table-row-dashed fs-6 gy-5 no-footer nowrap" cellpadding="0" cellspacing="0" border="0" style="width: 100%">
                            <thead>
                                <tr>
                                    <th class="all" scope="col">#</th>

                                    <th class="all" scope="col">Summary</th>
                                    <th class="all" scope="col">Existing Control</th>
                                    <th class="all" scope="col">ERM Recomendation</th>
                                    <th class="all" scope="col">Action Plan</th>
                                    <th class="all" scope="col">Risk Owner's Comment</th>
                                    <th class="all" scope="col">Target Date</th>
                                    <th class="all" scope="col">Actual Closure Date</th>
                                    <th class="all" scope="col">Acceptance Date</th>
                                    <th class="all" scope="col">Risk Accepted?</th>
                                    <th class="all" scope="col">Risk Type</th>
                                    <th class="all" scope="col">Organization Unit</th>
                                    <th class="all" scope="col">Status</th>
                                    <th class="all" scope="col">Rating</th>
                                    <th class="all" scope="col">Risk Owner</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var index = 0;
                                }
                                @foreach(var risk in Model.RisksList){
                                    <tr>
                                        <td colspan="0" scope="col">@(++index)</td>
                                        <td colspan="0" scope="col">@risk.Risk.Summary.ToString()</td>
                                        <td colspan="0" scope="col">@risk.Risk.ExistingControl.ToString()</td>
                                        <td colspan="0" scope="col">@risk.Risk.ERMRecommendation.ToString()</td>
                                        <td colspan="0" scope="col">@risk.Risk.ActionPlan.ToString()</td>
                                        <td colspan="0" scope="col">@risk.Risk.RiskOwnerComment.ToString()</td>
                                        <td colspan="0" scope="col">@risk.Risk.TargetDate.ToString()</td>
                                        <td colspan="0" scope="col">@risk.Risk.ActualClosureDate.ToString()</td>
                                        <td colspan="0" scope="col">@risk.Risk.AcceptanceDate.ToString()</td>
                                        <td colspan="0" scope="col">@risk.Risk.RiskAccepted.ToString()</td>
                                        <td colspan="0" scope="col">@risk.RiskTypeName.ToString()</td>
                                        <td colspan="0" scope="col">@risk.OrganizationUnitDisplayName.ToString()</td>
                                        <td colspan="0" scope="col">@risk.StatusName.ToString()</td>
                                        <td colspan="0" scope="col">@risk.RiskRatingName.ToString()</td>
                                        <td colspan="0" scope="col">@risk.UserName.ToString()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>