
@using CCPDemo.Web.Areas.App.Models.Common.Modals
@using CCPDemo.Web.Areas.App.Models.RiskCatalogs
@model RiskCatalogViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RiskCatalogInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Number") :</h6>
                @Model.RiskCatalog.Number
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Grouping") :</h6>
                @Model.RiskCatalog.Grouping
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.RiskCatalog.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.RiskCatalog.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Function") :</h6>
                @Model.RiskCatalog.Function
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Order") :</h6>
                @Model.RiskCatalog.Order
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")