
@using CCPDemo.Web.Areas.App.Models.Common.Modals
@using CCPDemo.Web.Areas.App.Models.ThreatCatalog
@model ThreatCatalogViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ThreatCatalogInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Number") :</h6>
                @Model.ThreatCatalog.Number
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Grouping") :</h6>
                @Model.ThreatCatalog.Grouping
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.ThreatCatalog.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.ThreatCatalog.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Order") :</h6>
                @Model.ThreatCatalog.Order
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")